/*
  Empiezo con un reset simple
  para evitar espacios raros del navegador
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
  El body ocupa toda la pantalla
  y evito que aparezca scroll
*/
body {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body{
    background-color: aqua;
}
/* 
  Header simple, solo para el título
*/
header {
    background-color: #243757;
    color: white;
    text-align: center;
    padding: 15px;
}

/* 
  Oculto el checkbox real.
  No se usa visualmente, solo como control de estado
*/
#alarm-toggle {
    display: none;
}

/* 
  Contenedor principal.
  Centra todo en pantalla
*/
.alarm {
    height: calc(100vh - 70px); /* resto la altura del header */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
  Tarjeta de la alarma.
  Es la que se mueve cuando está activa
*/
.content-alarm {
    background-color: #dad5b7;
    width: 40%;
    max-width: 420px;
    height: 80%;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transform-origin: center;
}

/* 
  Tamaño de la imagen de la alarma
*/
.content-alarm img {
    width: 250px;
}

/* 
  Controles juntos y ordenados
  debajo de la imagen
*/
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* 
  Botón de activar / desactivar.
  Es realmente un label con estilo de botón
*/
.alarm-btn {
    background-color: #243757;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

/* 
  Animación tipo alarma:
  un temblor suave, no exagerado
*/
@keyframes alarmShake {
    0%   { transform: rotate(0deg); }
    20%  { transform: rotate(6deg); }
    40%  { transform: rotate(-6deg); }
    60%  { transform: rotate(6deg); }
    80%  { transform: rotate(-6deg); }
    100% { transform: rotate(0deg); }
}

/* 
  Cuando el checkbox está activo,
  arranco la vibración de la alarma
*/
#alarm-toggle:checked ~ .alarm .content-alarm {
    animation: alarmShake 0.6s linear infinite;
}