

body{
    background-color: aqua;
}

.Encabezado-Homeworks{
    background-color: rgb(239, 230, 247);
    text-align: center;
    font-size: 2rem;    
}
.Planner{
    background-color: rgba(236, 162, 162, 0.568);    
    border: outset, rgba(255, 248, 248, 0.329);
    padding: 2.5rem;    
}
th{
    background-color: white;
}
td{
    background-color: rgba(111, 220, 253, 0.699);
}

.close{
    text-align: right;
}