body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    background-color: var(--color5);
}

:root{
    --Color : #243757;
    --color2 : #3a5f6f ;
    --color3 : #dad5b7 ;
    --color4 : #c2b79b ;
    --color5 : #665e52 ;
}

.Main{
    display: grid;
    grid-template-columns: 0.15fr 1fr 1fr 1fr;
    grid-template-rows: 30px auto;
    min-height: 100vh; 
}

@media (max-width: 640px) {
    .Main {
        grid-template-columns: 1fr; 
        grid-template-rows: 30px auto 1fr; 
        min-height: 100vh;
    }
    .SideBar {
        grid-column: 1 / 2;
        grid-row: 2; 
        flex-direction: row; 
        justify-content: space-around;
        padding: 10px 0;
    }
    .content-area {
        grid-column: 1 / 2;
        grid-row: 3;
    }
}

.Grid-Items{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.header {
    border-radius: 0;
    grid-column: 1 / 5;
    background-color: var(--color3);
}

.content-area{
    grid-column: 2 / 5;
    grid-row: 2; 
    background-color: var(--color5);
    justify-content: flex-start;
    align-items: flex-start; 
    overflow: hidden;
    position: relative;
}

#Crow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px; 
    left: 16px;
    right: 16px;
    bottom: 16px;
}

#Crow img{
    width: 200px;
    height: 200px;
}

.SideBar{
    border-radius: 0;
    padding-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1 / 2;
    grid-row: 2; 
    background-color: var(--color4);
}

.Apps{
    display: none;
}

.content-frame {
    z-index: 2;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 20px 20px;
}

.Icon{
    margin-top: 10px;
}

.Icon img:hover{
    background-color: var(--color3);
    transform: scale(1.04);
    box-shadow: 0 4px 6px var(--color5);
}

.Icon img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 3px;
    transition: all 0.3s ease-in-out;
}

.Icon #Go-out{
    margin-top: 200px;
}
